 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #e9f2fa, #ff680a);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 109px auto 0 49px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: -266px 148px 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: 43px 70px 0 auto;
}

.u-section-1 .u-btn-2 {
  margin: -46px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -323px;
    margin-right: -35px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 103px;
    margin-right: 36px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -100px;
    margin-right: 65px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -322px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 173px;
    margin-right: 17px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -119px;
    margin-right: 45px;
  }
}